*{
  	border:0px;
  	padding:0px;
 	margin:0px;
}

input[type=text]{
    border: 2px solid black;
    border-radius: 4px;
}

input[type=password]{
    border: 2px solid red;
    border-radius: 4px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}
 
li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}

.mesa {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.cajaMesaVacia {
    margin:20px;
    border:5px solid green;
    padding:10px;
    width:100px;
    float:left;
}

.cajaMesaOcupada {
	margin:20px;
    border:5px solid red;
    padding:10px;
    width:100px;
    float:left;
}

.sucursal {
	width: 300px;
    border: 1px solid black;
    overflow: hidden;
    float:left;
    margin-left:30px;
    margin-top: 30px;
}